<section class="common-section bg-gray">
		<div class="container">
				<div class="row">
						<div class="col-md-5">
								<figure class="about-thumb">
										<img src="assets/images/company-vision.png" alt="Work 1">
								</figure>
						</div>
						<div class="col-md-5 align-self-center offset-md-2">
								<div class="about-text">
										<h3>Vision</h3>
										<p>our vision is to develop constantly and grow as a major IT service provider to become a leading performer, in providing quality Web and Software Development solutions in the competitive global marketplace.</p>
								</div>
						</div>

				</div>
		</div>
</section>