<section class="common-section bg-gray">
		<div class="container">
				<div class="row">
						<div class="col-md-5">
								<figure class="about-thumb">
										<img src="assets/images/company-team.png" alt="Work 1">
								</figure>
						</div>
						<div class="col-md-5 align-self-center offset-md-2">
								<div class="about-text">
										<h3>We strive to provide a good work environment to help our team innovate</h3>
										<p>Continuous learning and development are one of the most important factors that help our team develop and attract more creators</p>
								</div>
						</div>

				</div>
		</div>
</section>