<section class="common-section 	">
		<div class="container">
				<div class="row">
			
						<div class="col-md-5 align-self-center ">
								<div class="about-text">
										<h3>Mission</h3>
										<ul>
												<li>Our mission is to deliver optimal solutions with quality and services at reasonable prices</li>
												<li>For us customer satisfaction is given top place.</li>
												<li>We are very friendly in our dealings to the customers, and it helps us retain existing clients and expand customer circle.
												</li>
												<li>We always try to improve the quality of our products by exploring innovative ideas.</li>
										</ul>
								</div>
						</div>
						<div class="col-md-5 offset-md-2">
								<figure class="about-thumb">
										<img src="assets/images/company-mision.png" alt="Work 1">
								</figure>
						</div>

				</div>
		</div>
</section>