.btn{
	border-radius: 0;
	padding: 0 40px !important;
	line-height: 48px !important;
	background-color: #001560;
	border-color: #001560;
	color: #ffffff;
}

/*
.btn-main{
	padding: 0 40px;
	line-height: 40px;
	background-color: #001560;
	border-color: #001560;
	color: #ffffff;
}
*/

.btn-ghost{
	background-color: none;
	border-color: #001560;
}