@font-face {
	font-family: 'Space Grotesk';
	src: url('../fonts/SpaceGroteskLight.eot');
	src: url('../fonts/SpaceGroteskLight.eot') format('embedded-opentype'),
			 url('../fonts/SpaceGroteskLight.woff2') format('woff2'),
			 url('../fonts/SpaceGroteskLight.woff') format('woff'),
			 url('../fonts/SpaceGroteskLight.ttf') format('truetype'),
			 url('../fonts/SpaceGroteskLight.svg#SpaceGroteskLight') format('svg');
			 font-weight: 300;
} 


@font-face {
	font-family: 'Space Grotesk';
	src: url('../fonts/SpaceGroteskRegular.eot');
	src: url('../fonts/SpaceGroteskRegular.eot') format('embedded-opentype'),
			 url('../fonts/SpaceGroteskRegular.woff2') format('woff2'),
			 url('../fonts/SpaceGroteskRegular.woff') format('woff'),
			 url('../fonts/SpaceGroteskRegular.ttf') format('truetype'),
			 url('../fonts/SpaceGroteskRegular.svg#SpaceGroteskRegular') format('svg');
			 font-weight: 400;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('../fonts/SpaceGroteskMedium.eot');
	src: url('../fonts/SpaceGroteskMedium.eot') format('embedded-opentype'),
			 url('../fonts/SpaceGroteskMedium.woff2') format('woff2'),
			 url('../fonts/SpaceGroteskMedium.woff') format('woff'),
			 url('../fonts/SpaceGroteskMedium.ttf') format('truetype'),
			 url('../fonts/SpaceGroteskMedium.svg#SpaceGroteskMedium') format('svg');
			 font-weight: 500;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('../fonts/SpaceGroteskSemiBold.eot');
	src: url('../fonts/SpaceGroteskSemiBold.eot') format('embedded-opentype'),
			 url('../fonts/SpaceGroteskSemiBold.woff2') format('woff2'),
			 url('../fonts/SpaceGroteskSemiBold.woff') format('woff'),
			 url('../fonts/SpaceGroteskSemiBold.ttf') format('truetype'),
			 url('../fonts/SpaceGroteskSemiBold.svg#SpaceGroteskSemiBold') format('svg');
			 font-weight: 600;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('../fonts/SpaceGroteskBold.eot');
	src: url('../fonts/SpaceGroteskBold.eot') format('embedded-opentype'),
			 url('../fonts/SpaceGroteskBold.woff2') format('woff2'),
			 url('../fonts/SpaceGroteskBold.woff') format('woff'),
			 url('../fonts/SpaceGroteskBold.ttf') format('truetype'),
			 url('../fonts/SpaceGroteskBold.svg#SpaceGroteskBold') format('svg');
			 font-weight: 700;
}
