
<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
				<link rel="stylesheet" type="text/css" href="assets/css/main.css">

				<title>Single Post</title>
		</head>
		<body>
				<header class="header header-light">

					{% include "templates/components/header-light.njk" %}

				</header>

				<div class="page-header">
					<div class="container">
						<h1>Digital solutions that help your business grow </h1>
						<p>We design and develop web and mobile applications for our clients all over the world.</p>
						<figure>
							<img src="assets/images/header-company.png" alt="Branding" > 
						</figure>
					</div>
				</div>



		
		<script src="assets/js/vendor.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/typescript_demo.js"></script>
</body>
</html>