<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
				<link rel="stylesheet" type="text/css" href="assets/css/main.css">

				<title>Hello, world!</title>
		</head>
		<body>
				<header class="header header-light">

						{% include "templates/components/header-light.njk" %}

				</header>

				<div class="page-header">
						<div class="container">
								<h1>Contact Us</h1>
								<p>We design and develop web and mobile applications for our clients all over the world.</p>
						</div>
				</div>
				<div class="contact-page">
						<div class="container">
								<h2 class="mb-4">Contact Us</h2>
								<div class="row">
										<div class="col-md-6">

												<form id="contact-form" role="form">
														<div class="form-group">
																<label for="form_name">Name</label>
																<input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your name" required="required" data-error="Firstname is required.">
														</div>
														<div class="form-group">
																<label for="form_name">Phone</label>
																<input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your phone" required="required" data-error="Firstname is required.">
														</div>
														<div class="form-group">
																<label for="form_name">Email</label>
																<input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your email" required="required" data-error="Firstname is required.">
														</div>
														<div class="form-group">
																<label for="form_name">Message</label>
																<textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea>
														</div>
														<input type="submit" class="btn  btn-send" value="Send Message">
												</form>
										</div>

										<div class="col-md-6">

												<div class="conact-info">
														<div class="contact-item">
																<h5>Call Us</h5>
																<p>Our customer service is open from Sunday to Thursday, from 10:00 am to 6:00 pm</p>
																<a href="#">(123) 456 7890</a>
														</div>
														<div class="contact-item">
																<h5>Email</h5>
																<p>A response is given within 48 hours in official working hours</p>
																<a href="#">hello@corptia.com</a>
														</div>
														<div class="contact-item">
																<h5>Visit Us</h5>
																<p>Our office is open from Sunday to Thursday, from 10:00 am to 6:00 pm</p>
																<a href="#">18 Second District Center, New Damietta, Egypt</a>
														</div>

												</div>

										</div>
								</div>

						</div>
				</div>
		</div>

		<script src="assets/js/vendor.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/typescript_demo.js"></script>
</body>
</html>