<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
				<link rel="stylesheet" type="text/css" href="assets/css/main.css">

				<title>Single Post</title>
		</head>
		<body>
				<header class="header header-light">

						{% include "templates/components/header-light.njk" %}

				</header>

				{# <div class="page-header">
						<div class="container">
								<h1>Contact Us</h1>
								<p>We design and develop web and mobile applications for our clients all over the world.</p>
						</div>
				</div> #}
				<div class="single-post">
						<div class="container">
								<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
												<figure class="post-thumb">
														<img src="assets/images/posts/thumb-01.png" alt="">
												</figure>
												<div class="post-info">
														<a href="#">Design</a>
														<h1>Lorem Ipsum simply dummy text of the printing</h1>
														<span class="post-time">May 18 , 2022</span>
												</div>

												<div class="post-content">
														<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
														<p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

														<h3>Lorem Ipsum simply dummy text</h3>
														<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
														<ul role="list"><li>Vue</li><li>React</li><li>Angular</li><li>Webpack’s Module Federation plugin</li></ul>
														<h3>Printing and typesetting industry</h3>
														<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

												</div>

										</div>

								</div>
				


						</div>
				</div>
		</div>
				{% include "templates/components/posts.njk" %} 
								{% include "templates/components/footer.njk" %} 
		<script src="assets/js/vendor.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/typescript_demo.js"></script>
</body>
</html>