<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<link rel="stylesheet" type="text/css" href="assets/css/vendor.css">
				<link rel="stylesheet" type="text/css" href="assets/css/main.css">

				<title>Hello, world!</title>
		</head>
		<body>

				<header class="header header-light">

						{% include "templates/components/header-light.njk" %}

				</header>

				<script src="assets/js/vendor.js"></script>
				<script src="assets/js/main.js"></script>
				<script src="assets/js/typescript_demo.js"></script>
		</body>
</html>