
<section class="common-section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="about-text">
					<h3>Corptia</h3>
					<p>Corptia is a Software Company, based in Egypt. Since 2017, We've worked with ambitious startups, value non-profit organizations, and inspiring entrepreneurs around the world.</p>
				</div>
			</div>
			<div class="col-md-6">
					<figure class="about-thumb">
						<img src="assets/images/works/work-02.png" alt="Work 1" >
					</figure>
			</div>
		</div>
	</div>
</section>