<section id="hero" class="">
	<div class="container">
		<div class="row">
		<div class="col-md-5 align-self-center">
			<div class="hero-text">
				<div class="hero">
					<h1>Your digital journey starts from here</h1>
					<p>We develop digital products using the latest technologies to help Your business to grow</p>
					<a class="btn btn-main" href="#">Discovery</a>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<figure class="w-100">
				<img alt="Image placeholder" src="assets/images/hero.png" class="img-fluid mw-md-120">
			</figure>
			{# <figure class="w-100"><img alt="Image placeholder" src="assets/img/svg/illustrations/illustration-3.svg" class="img-fluid mw-md-120"></figure> #}
		</div>
	
		</div>
	</div>
</section>