
<section class="common-section bg-gray">
	<header class="section-header">
		<div class="container">
			<span>Our Work</span>
			<h2>Popular Works</h2>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-01.png" alt="Work 1" >
					</figure>
				</div>
			</div>
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-02.png" alt="Work 1" >
					</figure>
				</div>
			</div>
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-03.png" alt="Work 1" >
					</figure>
				</div>
			</div>
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-04.png" alt="Work 1" >
					</figure>
				</div>
			</div>
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-05.png" alt="Work 1" >
					</figure>
				</div>
			</div>
			<div class="col-md-4">
				<div class="work-item js-tilt">
					<figure class="work-thumb">
						<img src="assets/images/works/work-06.png" alt="Work 1" >
					</figure>
				</div>
			</div>
	

		</div>

	</div>
</section>